@font-face {
 font-family: "NeoGram";
 src: url("assets/NeoGram.ttf");
}


#root {
  font-family: "NeoGram";
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  margin: 0;
}
